<h1 style="padding-bottom: 0.5rem !important"> Transaction Complete! <br/>
  <%= "New Balance: #{number_to_currency(current_baccount.total_amount, unit: "₱", separator: ".", delimiter: ",").to_s }"%><br/> 
Dispending the following:</h1>
<div style="display: flex">
  <h1 style="margin: 0 auto; padding-top: unset !important">
    <%= "1000: #{params[:n_1000]}"%> <br/>
    <%= "500: #{params[:n_500]}"%> <br/>
    <%= "200: #{params[:n_200]}"%> <br/>
    <%= "100: #{params[:n_100]}"%>
  </h1>
</div>

<div class="container">
  <div class="row">
    <%= link_to 'Back to Home Screen', root_path, class:"btn  btn-lg btn-outline-light col text-center" %>
    <%= button_to 'End Transaction', destroy_baccount_session_path, method: :delete, data:{turbo: false}, class:"btn  btn-lg btn-outline-light col text-center"%>
  </div>
</div>
